* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
 .btn-primary {
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background: #30B868;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;

}

.btn-primary:hover {
    background: #249e57;
}

.btn-secondary {
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    box-sizing: border-box;
    background: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: #30B868;
    color: #30B868;
    
}


/* Top Navbar */
.top-nav {
    width: 1600px;
    height: 75px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background: #ffffff;
}


.nav-container {
    width: 1600px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo {
    display: flex;
    align-items: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 120px;
    
}

.nav-logo img {
    width: 139px;
    height: 60px;
    
}

.nav-menu {

    width: 365px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25.5px 346px;
    margin: 0 auto;   
    white-space: nowrap;
    gap: 32px;
    
    
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color:#30B868 ;
    
}

.nav-button {
  margin-right: 120px;   
  display: flex;
  align-items: center;
}

#banner {
    width: 100%;
    min-height: 674px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 12px;
    max-width: 800px;
}

.badge {
    width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px; 
    padding: 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    color: #30B868;
}

.banner-content h1 {
      width: 770px;
     /* height: 168px;  */

    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-weight: 700;          /* Bold */
    line-height: 84px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    opacity: 0.9;
    margin: 0 auto 12px;
}
.banner-content h1 .color-green {
    color: #30B868;
}

.banner-content p {
     max-width: 900px;
    width: 100%;    
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}  
.banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}






