* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn-primary {
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background: #30B868;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;

}

.btn-primary:hover {
    background: #249e57;
}

.btn-primary img {
    width: 16px;
    height: 16px;
}

.btn-secondary {
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    box-sizing: border-box;
    background: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-secondary i {
    font-size: 14px;
    color: #ffffff;

}
.btn-secondary:hover i {
    color: #30B868;
    transform: translateX(2px);
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: #30B868;
    color: #30B868;

}


.top-nav {
    width: 1600px;
    height: 75px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background: #ffffff;
}


.nav-container {
    width: 1600px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo {
    display: flex;
    align-items: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 120px;

}

.nav-logo img {
    width: 139px;
    height: 60px;

}

.nav-menu {

    width: 365px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25.5px 346px;
    margin: 0 auto;
    white-space: nowrap;
    gap: 32px;


}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #30B868;

}

.nav-button {
    margin-right: 120px;
    display: flex;
    align-items: center;
}

#banner {
    width: 100%;
    min-height: 674px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 12px;
    max-width: 800px;
}

.badge {
    width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    color: #30B868;
}
.badge i {
    font-size: 16px;  
    color: #30B868;
}

.banner-content h1 {
    width: 770px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    opacity: 0.9;
    margin: 0 auto 12px;
}

.banner-content h1 .color-green {
    color: #30B868;
}

.banner-content p {
    max-width: 900px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}


#card-section {
    padding: 80px 20px;
    background-color: #f9f9f9;
}

.section-heading {
    max-width: 1360px;
    height: 116px;
    text-align: center;
    margin: 0 auto 60px;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    margin: 0 auto 16px;
}

.section-heading p {

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;

    color: rgba(98, 115, 130, 1);
    max-width: 700px;
    margin: 0 auto;
}

.card-box {

    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
}


.feature-card {
    width: 322px;
    height: 300px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    align-items: center; 
    box-sizing: border-box;


}


.feature-card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}


.card-img {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 12px;
}

.card-img img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: contain;
    display: block;
}


.feature-card h3 {

    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    width: 274px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.feature-card p {
    width: 274px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(98, 115, 130, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    margin: 0 auto;
}

/*------------------------------------------*/
/* SOLUTION SECTION */

.solution-section {
    padding: 80px 10%;
    background: #FFFFFF;
}

.solution-container {

    max-width: 1360px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.solution-image {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-image: url('../assets/knowledge.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-text {
    text-align: left;
    max-width: 600px;
}


.solution-text .tag {

    width: 700px;
    height: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #2ecc71;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    display: block;
}

.solution-text h2 {
    color: #001931;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
    width: 700px;
    height: 116px;
    display: block;
    margin-bottom: 16px;
}


.solution-text p {
    max-width: 700px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #666;
    margin-bottom: 20px;
}


.solution-text ul {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.solution-text li {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #001931;
}

.solution-text li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 20px;
    height: 20px;
    background-image: url("/assets/CheckCircle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* CTA */
.vault-cta-shell {
    width: 100%;
    padding: 120px;
    box-sizing: border-box;
    background: #ffffff;
}

.vault-cta {
    width: 1360px;
    height: 384px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    padding: 80px 40px;
    box-sizing: border-box;

    border-radius: 12px;
    background: rgba(247, 246, 242, 1);

    text-align: center;
    margin: 0 auto;
}



.vault-cta h2 {
    width: 1280px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    margin: 0 auto 15px;
}


.vault-cta p {
    width: 1280px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #627382;
    margin: 0;
}


.vault-cta .btn-primary {
    margin: 0 auto;
}


.btn-primary img {
    width: 16px;
    height: 16px;
}

.btn-primary:hover {
    background: #27ae60;

}

.vault-cta small {

    width: 1280px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #627382;
    margin: 0;
    display: block;
}


/* FOOTER */
footer {
    width: 1600px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding: 120px 120px 30px 120px;
    box-sizing: border-box;
    background: #06182c;
    color: #ffffff;
    margin: 0 auto;
}

.footer-container {
    width: 1360px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.logo img {
    height: 60px;
    display: block;
}

.social p {

    width: 113px;
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}


.icons {
    display: flex;
    gap: 15px;
}

.icons a {

    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.25s ease;
}

.icons a:hover {
    background: #2ecc71;
    color: #06182c;
}

.copyright {
    width: 1360px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #FAFAFA;
    margin: 0 auto;
}