* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  ;
}
/* Top Navbar */
.top-nav {
    width: 1600px;
    height: 75px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background: #ffffff;
}



/* Container */
.nav-container {
    width: 1600px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo {
    display: flex;
    align-items: center;

    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 120px;
    
}

.nav-logo img {
    width: 139px;
    height: 60px;
    
}

.nav-menu {

    width: 365px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25.5px 346px;
    margin: 0 auto;   
    white-space: nowrap;
    gap: 32px;
    
    
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: darkorange;
    /* hover color */
}

.nav-button {
  margin-right: 120px;   
  display: flex;
  align-items: center;
}
.btn {
  width: 164px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background:#30B868;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}

.btn:hover{
    background:darkorange;
}

